h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.6rem;
    font-weight: 100;
    line-height: 1.2;
}
a {
    color: black;
    text-decoration: none;
    font-size: 2.6rem;
    font-weight: 100;
}
a:hover {
    color: lightblue;
}
header {
    background-color: #585d6b;
    height: auto;
    min-height: 15vh;
    /* max-height: 14vh; */
    padding: .5rem 4em .5rem 4em;
    display: flex;
    justify-content: flex-start;
}
header > h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.7;
    flex-grow: inherit;
    flex-shrink: initial;
}
.main-content {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ), url('wood_landscape_compressed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: auto;
    min-height: 60vh;
    /* height: 60vh; */
    max-width: 100%;
    text-align: center;
    padding: 4rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
}
.white {
    color: white;
}
.main-content-text {
    /* height: 50%; */
    margin: auto;
    flex-shrink: inherit;
    flex-grow: inherit;
}
.main-content-text > h1 {
    font-size: 4rem;
    font-weight: 500;
}
.email {
    padding-bottom: 1rem;
}
footer {
    background-color: #585d6b;
    text-align: right;
    height: auto;
    min-height: 20vh;
    /* max-height: 30vh; */
    padding: .5rem 4em .5rem 4em;
    display: flex;
    justify-content: flex-end;
}
.footer-text {
    flex-grow: inherit;
    flex-shrink: inherit;
    line-height: 1.2;
}
.footer-text > h2 {
    font-size: 3.4rem;
    font-weight: 200;
    line-height: 1.2;
}
