h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
}
p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    line-height: 1.1;
    font-size: 36px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: lightblue;
}
header {
    background-color: #585d6b;
    max-height: 14vh;
    padding: .5rem 4em .5rem 4em;
}
header > h1 {
    font-size: 55px;
    line-height: 1.7;
}
.main-content {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ), url('wood_landscape_compressed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 60vh;
    max-width: 100%;
    text-align: center;
    padding: 4rem 2rem 1rem 2rem;
}
.white {
    color: white;
}
.main-content-text {
    height: 50%;
    margin: auto;
}
.main-content-text > h1 {
    font-size: 40px;
}
.email {
    padding-bottom: 1rem;
}
footer {
    background-color: #585d6b;
    text-align: right;
    line-height: 1.1;
    height: auto;
    max-height: 30vh;
    padding: .5rem 4em .5rem 4em;
}
/* .footer-text {
    max-height: 30vh;
} */
footer > h1 {
    font-size: 12px;
}
footer > p > a {
    font-weight: 100;
    font-size: 28px;
}